<h1>Login</h1>

<p>
	Username<br>
	<%== text_field_tag :username, "", size: 30 %>
	<br>
	Password<br>
	<%== text_field_tag :password, "", size: 30 %>
	<br>
</p>
	<%== submit_tag "Login" %>

<p>(Username is amy, password is 123)</p>
