<!doctype html>
<html>
  
  <head>
    <title>Untitled (1)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap-responsive.css">
    <script src="https://app.divshot.com/js/jquery.min.js"></script>
    <script src="https://app.divshot.com/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <title>Untitled (1)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap-responsive.css">
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
            <a class="brand" href="#">Project Name</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li>
                  <a href="#" class="active">Home</a> 
                </li>
                <li>
                  <a href="#">About</a> 
                </li>
                <li>
                  <a href="#">Contact</a> 
                </li>
                <li>
                  <a href="#">Dropdown</a> 
                </li>
              </ul>
            </div>
            <input placeholder="Email" class="input-medium" type="text">
            <input placeholder="Password" class="input-medium" type="text">
            <a class="btn">Sign in</a> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="Hero-unit">
          <h1 class="page-header">Hello, World!</h1>
          <p class="lead">This is a template for a simple marketing or informational website. It
            includes a large callout called the hero unit and three supporting pieces
            of content. Use it as a starting point to create something more unique.</p>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          <h2>Heading</h2>
          <p>Sapiente eius eu voluptatem labore magni inventore incidunt possimus eveniet
            exercitationem provident anim accusamus omnis dolor incidunt praesentium
            soluta illo magni doloribus adipisicing sed ullam. Illum excepturi incididunt
            at commodo perferendis tempora quas, aute, praesentium dolores, lorem vero
            dolorum laboris. Exercitationem ullamco doloremque esse quod itaque impedit
            laboriosam ducimus hic et accusantium repellendus veniam temporibus vel
            nobis pariatur debitis ea quis dolores ducimus sequi maxime at. Consequat
            minima illo nisi a consequatur animi rem rerum eiusmod iusto necessitatibus
            veniam ut vitae nobis vero unde corrupti nostrum incididunt.</p>
          <p>
            <a class="btn" href="#">View details »</a> 
          </p>
        </div>
        <div class="span4">
          <h2>Heading</h2>
          <p>Aspernatur voluptas aliqua at distinctio voluptatibus doloribus nulla
            laborum quam, perspiciatis praesentium veritatis repellendus inventore
            quam illo nostrum incidunt temporibus eu. Accusamus assumenda adipisicing
            et dolor quis deleniti proident, tempor a neque. Cumque tempor lorem eius
            veniam nemo excepturi, irure sit molestiae possimus, est aliqua voluptatum
            quod vitae. Voluptas voluptas veritatis dicta eiusmod officia nostrum,
            elit beatae quo, alias excepteur numquam dolores qui quas nesciunt, similique
            nisi fuga.</p>
          <p>
            <a class="btn" href="#">View details »</a> 
          </p>
        </div>
        <div class="span4">
          <h2>Heading</h2>
          <p>Ex soluta cupiditate vitae cupidatat mollitia numquam ipsam exercitationem,
            aute quos ullam ullamco vitae, expedita autem anim optio assumenda, velit
            beatae officia dicta beatae maiores dolorem dignissimos perspiciatis. Accusantium
            nostrum praesentium adipisci duis placeat, explicabo veritatis voluptas,
            nihil tempore quaerat expedita pariatur possimus cupidatat adipisci odit
            odit aliqua minima blanditiis quisquam voluptates est exercitation. Perferendis
            nobis officia illum illo numquam sint sequi eiusmod qui veritatis anim
            enim unde aliqua odit.</p>
          <p>
            <a class="btn" href="#">View details »</a> 
          </p>
        </div>
      </div>
    </div>
  </body>

</html>