<!doctype html>
<html>
  
  <head>
    <title>Untitled (1)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap-responsive.css">
    <script src="https://app.divshot.com/js/jquery.min.js"></script>
    <script src="https://app.divshot.com/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <title>Untitled (1)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap-responsive.css">
    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
            <a class="brand" href="#">Project Name</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li>
                  <a href="#" class="active">Home</a> 
                </li>
                <li>
                  <a href="#">About</a> 
                </li>
                <li>
                  <a href="#">Contact</a> 
                </li>
                <li>
                  <a href="#">Dropdown</a> 
                </li>
              </ul>
            </div>
            <input placeholder="Email" class="input-medium" type="text">
            <input placeholder="Password" class="input-medium" type="text">
            <a class="btn">Sign in</a> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="Hero-unit">
          <h1>Hello, World!</h1>
          <p>This is a template for a simple marketing or informational website. It
            includes a large callout called the hero unit and three supporting pieces
            of content. Use it as a starting point to create something more unique.</p>
        </div>
      </div>
    </div>
  </body>

</html>