<p>Gender</p>

<label for="male"> <input type="radio" name="title" value="male" id="male" /> Male</label>
<label for="female"> <input type="radio" name="title" value="female" id="female" /> Female</label><br />

<br>

<p> Favorite color </p>

<select>
  <option value="chooseone">(Choose One)</option>
  <option value="green">Green</option>
  <option value="blue">Blue</option>
</select>

<br>

<p>Blood donor</p>
<input type="checkbox" name="donor" value="yes" checked>
